body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  color: orange;
}

form {
  background: #111;
  padding: 20px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  background: orange;
  border: none;
  font-weight: bold;
}
